<a id="dropDownPlayerSelected" role="button" data-toggle="dropdown" href="#">Select a player <b class="caret"></b></a>
<ul id="dropDownPlayers" class="dropdown-menu" role="menu" aria-labelledby="drop4">
  <li class="divider"></li>
  <li><a href="#">Create a new player</a></li>
</ul>
