<button id="dropDownPlayerSelected" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Select a player <span class="caret"></span>
</button>
<ul id="dropDownPlayers" class="dropdown-menu" role="menu">
</ul>