<div class="col-xs-10">
    <input id="txtSearch" type="text" class="form-control" placeholder="Artist, Album, Song Title...">
</div>
<div class="col-xs-2">
    <button id="btnSearch" type="submit" class="btn btn-default">Search</button>
</div>

