<div class="visible-xs col-xs-12 search-footer-controls">
    <button id="btnPrevious" class="btn btn-default">Previous</button>
    <button id="btnNext" class="btn btn-default">Next</button>
</div>

